/*Hero*/

#hero {
    background: url(/assets/img/loginBg.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100%;
    background-position: top;
    text-align: center;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    top: 0;
    left: 0;
}


}
#hero .container {
    margin-top: 8%;
}
@media screen and (min-width:768px) {
    #hero .container {
        margin-top: 8%;
    }
}
#hero .row {
    margin: 0 auto;
    display: table;
    margin-top: 10%;
}
