/*Hero*/



#hero {

    background: url(/CuraveWeb/assets/img/loginBg.jpg) no-repeat fixed;

    background-size: cover;

    min-height: 100%;

    background-position: top;

    text-align: center;

    /* Set up proportionate scaling */

    width: 100%;

    height: auto;

    /* Set up positioning */

    top: 0;

    left: 0;

}



#hero .container {

    margin-top: 8%;

}



@media screen and (min-width:768px) {

    #hero .container {

        margin-top: 8%;

    }

}



#hero .row {

    margin: 0 auto;

    display: table;

}



.form-group {

    position: relative;

    margin-bottom: 15px;

}



.form-group .fa {

    position: absolute;

    left: -30px;

    top: 22px;

    color: #999;

}



.fa-user,

.fa-key {

    font-size: 20px;

    padding-left: 10px;

    background: -webkit-linear-gradient(#732f8b, #3772b6);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

}



.input-txt {

    width: 100%;

    padding: 20px 10px;

    background: transparent;

    border: none;

    font-size: 1em;

    color: white;

    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

    -moz-transition: background-color 0.5s ease-in-out;

    -o-transition: background-color 0.5s ease-in-out;

    -webkit-transition: background-color 0.5s ease-in-out;

    transition: background-color 0.5s ease-in-out;

}



.input-txt:focus {

    border-bottom: linear-gradient(to bottom left, #732f8b 0%, #732f8b 50%, #3772b6 51%, #3772b6 100%);

}



.rememberMe {

    float: left;

    color: #fff;

    text-align: left;

    font-style: normal;

}



#hero label {

    font-weight: normal;

}





/* Base for label styling */



[type="checkbox"]:not(:checked),

[type="checkbox"]:checked {

    position: absolute;

    left: -9999px;

}



[type="checkbox"]:not(:checked)+label,

[type="checkbox"]:checked+label {

    position: relative;

    padding-left: 1.95em;

    cursor: pointer;

}





/* checkbox aspect */



[type="checkbox"]:not(:checked)+label:before,

[type="checkbox"]:checked+label:before {

    content: '';

    position: absolute;

    left: 0;

    top: 0;

    width: 1.45em;

    height: 1.45em;

    border: 1px solid #ccc;

    background: transparent;

    border-radius: 4px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);

}





/* checked mark aspect */



[type="checkbox"]:not(:checked)+label:after,

[type="checkbox"]:checked+label:after {

    content: '✔';

    position: absolute;

    top: .2em;

    left: .2em;

    font-size: 1.1em;

    line-height: 0.8;

    background: -webkit-linear-gradient(#732f8b, #3772b6);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    transition: all .2s;

}





/* checked mark aspect changes */



[type="checkbox"]:not(:checked)+label:after {

    opacity: 0;

    transform: scale(0);

}



[type="checkbox"]:checked+label:after {

    opacity: 1;

    transform: scale(1);

}





/* disabled checkbox */



[type="checkbox"]:disabled:not(:checked)+label:before,

[type="checkbox"]:disabled:checked+label:before {

    box-shadow: none;

    border-color: #bbb;

    background-color: #ddd;

}



[type="checkbox"]:disabled:checked+label:after {

    color: #999;

}



[type="checkbox"]:disabled+label {

    color: #aaa;

}



.login-footer {

    margin: 10px 0;

    overlow: hidden;

    float: left;

    width: 100%;

}



.forgetPw {

    float: right;

}



.forgetPw a {

    color: white;

}



@media screen and (max-width:378px) {

    .forgetPw {

        float: left;

    }

}



.button_login2 {

    border: 1px solid #642c87;

    -webkit-border-radius: 0px;

    -moz-border-radius: 0px;

    border-radius: 0px;

    font-size: 14px;

    font-family: arial, helvetica, sans-serif;

    padding: 15px 40px 15px 40px;

    text-decoration: none;

    display: inline-block;

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);

    font-weight: bold;

    color: #FFFFFF;

    background-color: #732f8b;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#732f8b), to(#3772b6));

    background-image: -webkit-linear-gradient(top, #732f8b, #3772b6);

    background-image: -moz-linear-gradient(top, #732f8b, #3772b6);

    background-image: -ms-linear-gradient(top, #732f8b, #3772b6);

    background-image: -o-linear-gradient(top, #732f8b, #3772b6);

    background-image: linear-gradient(to bottom left, #732f8b, #3772b6);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#732f8b, endColorstr=#3772b6);

}



.button_login2:hover {

    border: 1px solid #4a2164;

    color: #FFFFFF;

    background-color: #672d8b;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#672d8b), to(#403eb8));

    background-image: -webkit-linear-gradient(top, #672d8b, #403eb8);

    background-image: -moz-linear-gradient(top, #672d8b, #403eb8);

    background-image: -ms-linear-gradient(top, #672d8b, #403eb8);

    background-image: -o-linear-gradient(top, #672d8b, #403eb8);

    background-image: linear-gradient(to bottom left, #672d8b, #403eb8);

    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#672d8b, endColorstr=#403eb8);

}



.divider {

    max-width: 800px;

    text-align: center;

    color: white;

    margin-top: 30px;

}



.divider hr {

    margin-left: auto;

    margin-right: auto;

    width: 40%;

    margin-bottom: 30px;

}



.left {

    float: left;

}



.right {

    float: right;

}



.signup {

    margin-top: 40px;

}



.signup a {

    color: white;

}





/*

#my-signin2 {

    margin-left: 20px;

}

@media screen and (max-width:768px) {

    .fb-login-button,

    #my-signin2 {

        float: left;

    }

    

    #my-signin2 {

        margin-left: 0px;

    }

    

    .fb,

    .google {

        padding: 0px;

    }

}

*/



@media screen and (max-width:768px) {

    .fb {

        padding: 0px;

    }

}



@media screen and (max-width:301px) {

    .divider {

        margin-left: 0px;

    }

}

